.MainDiv{
    height: 100vh;
    background-color: #92d9eb;
}

.PageBody{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #92d9eb;
}

.OptionsContainer{
    display: flex;
    margin: 10px auto;
    height: 75%;
}

.TableContainer{
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    
}

.InfoContainer{
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.search-bar{
    margin: 15px auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #16537e;
    padding: 10px;
    font-size: 20px;
}