.table {
    margin: auto;
    width: 80% !important;
    border-collapse: collapse;
}

.buttons {
    text-align: center;
    background-color: #16537e;
}

.action-button{
    background-color: #166e7e;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
}

.tbody tr td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #16537e;
    
}