.table {
    margin: auto;
    width: 80% !important;
    border-collapse: collapse;
}

.student-table {
    margin: auto;
    width: 80% !important;
    border-collapse: collapse;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.student-table thead tr {
    background-color: #16537e;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.student-table thead th {
    border: 5px solid #ffffff;
    padding: 12px 15px;
    border-radius: 15px;
}

.buttons {
    text-align: center;
    background-color: #16537e;
}

.student-table tbody tr {
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #bcbcbc;
    height: 50px;
}

.student-table tbody td {
    border: 2px solid #ffffff;
}

.action-button{
    background-color: #166e7e;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
}